//==============================================
// Module/modules
//==============================================

// Here you can styling other small modules

//メインビジュアル
.m-mainVis{
  text-align: center;
  img{
    max-height: 600px;
  }
}