//==============================================
// Module/nav
//==============================================

.m-nav {
	padding: $padding;
	ul {
		display: flex;
		justify-content: center;
		li{
			a{
				display: block;
				font-weight: bold;
			}
		}
	}
}