html {
  box-sizing: border-box;
  font-size: 1em;
  height: 100%;
}

* {
  box-sizing: inherit;
  &:before,
  &:after { 
    @extend *;
  }
}

body {
  color: $color-text-main;
  font: #{$font-size-base}/#{$line-height-base} $font-family-base;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; //The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
  -webkit-font-smoothing: antialiased; //Make text look good on mac(Tim Van Damme test)
}

@include H($font-size-base, $scale);

a {
  background: transparent;
  color: $color-link;
  outline: none!important;
  text-decoration: $link-hover-decoration;
  transition: color .2s,
              opacity .2s;
  @include hover {
    color: $color-link-hover;
  }
}

p {
  color: transparentize($color-text-main, .1);
  font-weight: 400;
  line-height: $line-height-small;
  margin: 0;
  margin-bottom: $margin;
}

small,
.small {
  color: $color-text-main;
  font-size: $font-size-small;
  line-height: $line-height-base;
}

strong {
  font-weight: 800;
}
b {
  font-weight: 600;
}



img {
  height: auto;
  max-width: 100%;
}