// ==========================================================================
// $Base/Manifest of Base
// ==========================================================================

// Base Rules

// A Base rule is applied to an element using an element selector, a
// descendent selector, or a child selector, along with any pseudo-classes.
// It doesn’t include any class or ID selectors. It is defining the default
// styling for how that element should look in all occurrences on the page.

// Read more - http://smacss.com/book/type-base

@import 'base';
body{
  background: #FBFBF4 url("/assets/img/bg/linen.jpg");

  //background: #FBFBF4;
}
ul{
  @include reset-list;
}

