//==============================================
// Mixins/dotted
//==============================================

// Hide Text
// @usage - `@include hide-text`
@mixin dotted($color:rgba(#000, 1.0), $stripe: 1, $spacing: 4, $height:1) {
  background-image:linear-gradient(left, color-stop($color, $color ($stripe/($stripe+$spacing))*100%, transparent ($stripe/($stripe+$spacing))*100%, transparent 100%));
  background-size: ($stripe + $spacing) * 1 px ($stripe + $spacing) * 1 px;
  height: $height * 1 px;
  border: none;
}