//==============================================
// Mixins/Hover
//==============================================

// Hovers
// Create pseduo-classes for `:hover`, `:active`, and `:focus`.

@mixin hover {
    &:hover,
    &.active,
    &.current-menu-item {
        @content;
    }
}

@mixin hover-opa($ratio:.6) {
    transition: opacity .2s ease;
    &:hover,
    &.active,
    &.current-menu-item {
        opacity: $ratio;
    }
}