<main class="index">
    <div class="container">
        <div class="m-mainVis main-visual">
            <img src="/assets/img/main/main-v.jpg" alt="">
        </div>
        <div class="copy">
            <div class="text-area">
                <h2>
                    <span class="img-area">
                       <img src="/assets/img/pyoko/flower.png" alt="ぴょこ">
                    </span>
                    お子様のすばらしい能力を花咲かせます。
                </h2>
                <h3>ハル幼稚園のすてきな生活をご紹介！</h3>
            </div>
        </div>
        <section class="l-section kyoiku">
            <h4>ハル幼稚園の教育</h4>
            <ul>
                <li>
                    <div class="img-area">
                        <img src="/assets/img/sec-kyoiku/si.jpg" alt="SIあそび">
                    </div>
                    <dl>
                        <dt>ハル幼稚園といえば『SIあそび』</dt>
                        <dd>
                            お子様一人ひとりが、みずから考え、気づき、創意工夫する力、思考する力を養うこと(知能教育)を目的として、
                            別教材を使用しています。ご家庭ではなかなかできない『叱らない教育方法』
                            は、20年以上の研究の成果です。
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>3歳から特別講師による指導!</dt>
                        <dd>
                            英語・体操・水泳・声楽・絵画・ダンスなど外部からの講師による保育を保育料の中で行っています。
                        </dd>
                    </dl>
                    <div class="img-area">
                        <img src="/assets/img/sec-kyoiku/kousi.jpg" alt="特別講師授業">
                    </div>
                </li>
                <li>
                    <div class="img-area">
                        <img src="/assets/img/sec-kyoiku/kagai.jpg" alt="課外保育">
                    </div>
                    <dl>
                        <dt>課外保育</dt>
                        <dd>
                            子どもたちが興味や関心をもったものをもっともっと磨かせたい。
                            そんな思いを叶えるために、放課後、専門の先生にお越しいただいてご指導いただく塾を幼稚園内で開いています。
                        </dd>
                    </dl>
                </li>
            </ul>
        </section>
        <section class="l-section sub-content">
            <ul>
                <li>
                    <a href="#">
                        <figure>
                            <div class="img-area">
                                <img src="assets/img/sec-sub/ensha.jpg" alt="新園舎">
                                <h5>園舎について</h5>
                            </div>
                            <figcaption>
                                <h6>広くて素敵な新園舎が完成！</h6>
                                <div class="arrow">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <div class="img-area">
                                <img src="assets/img/sec-sub/bus.png" alt="新園舎">
                                <h5>送迎バス</h5>
                            </div>
                            <figcaption>
                                <h6>停留所は220箇所。毎年コースを見直しています。</h6>
                                <div class="arrow">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <figure>
                            <div class="img-area">
                                <img src="assets/img/sec-sub/azukari.jpg" alt="あずかり保育">
                                <h5>あずかり保育</h5>
                            </div>
                            <figcaption>
                                <h6>お時間の都合に合わせてご利用いただけます。</h6>
                                <div class="arrow">
                                    <i class="fa fa-arrow-circle-o-right"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </section>
        <section class="l-section">
            資料請求バナー
        </section>
    </div>
</main>