<header class="l-header">
    <h1>
        <a href="#"><img src="/assets/img/svg/logo-h.svg" alt="ロゴ" class="m-logo-h"></a>
    </h1>
    <div class="container">
        <nav class="m-nav">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-child" aria-hidden="true"></i>
                        <span class="main">園のこと</span>
                        <span class="sub">ABOUT</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span class="main">お知らせ</span>
                        <span class="sub">NEWS</span>
                </a>
                </li>
                <li>
                    <a href="#">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <span class="main">園の生活</span>
                        <span class="sub">EVERYDAY</span>
                </a>
                </li>
                <li>
                    <a href="#">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="main">園のきろく</span>
                        <span class="sub">DIALY</span>
                </a>
                </li>
                <li>
                    <a href="#">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                    <span class="main">入園のご案内</span>
                        <span class="sub">INFOMATION</span>
                </a>
                </li>
                <li>
                    <a href="#">
                    <i class="fa fa-send-o" aria-hidden="true"></i>
                    <span class="main">お問い合わせ</span>
                        <span class="sub">CONTUCT</span>
                </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
