// Color Palette
// Based on the official Sass styleguide

// ===================================================================
// Descriptive colors
// ===================================================================
$black:                     #333 !default;
$black-light:               lighten(#000, 25%) !default;
$white:                     #fff !default;
$white-darken:				darken($white, 35%);
$red:						red !default;
$gray:                      gray !default;
$moca:                      #C0AE9C !default;
$orange:                    #F7DE9E !default;
$lblue:                     #B3EBE6 !default;

// ===================================================================
// Theme colors
// ===================================================================
$color-primary:             #89b13a !default;
$color-accent:              #724C24 !default;
$color-third :              #fcd03c !default;

$color-shadow:				rgba($black, .125);

// ===================================================================
// Main elements colors
// ===================================================================
$text-link: 				$color-accent !default;
$color-text-main: 			$color-accent !default;
$color-headers: 			$black-light !default;
$color-text-sub:            $moca !default;

// links
$color-link:                $color-accent !default;
$color-link-hover:          darken($color-third, 20%) !default;
$color-link-visited:		$color-accent !default;
$color-link-bg-hover:       $color-accent !default;

// background
$color-background:      	$white !default;