//==============================================
// Layout/footer
//============================================== 

.l-footer {
  margin-top: $margin;
  padding: 30px 0;
  .copyright{
    text-align: center;
  }
}