//==============================================
// Layout/header
//============================================== 
$nav-list-dotted: .1em lighten($color-accent, 5%) dotted;

//色の配列
$header-nav-icon-color: (
        1: pink,
        2: lighten(blue, 30%),
        3: #e2862a,
        4: green,
        5: darken(yellow, 10%),
        6: inherit
);

.l-header {
    margin-bottom: $margin;
    h1 {
        text-align: center;
        padding: 1em 0 0.7em;
        margin: 0;

        //background-color: #ecfaf9;
        //border-bottom: .06em solid $orange;
        a{
            display: inline-block;
            img {
                @include hover-opa();
                width: 330px;
            }
        }
    }

    nav {
        ul {
            li {
                padding: 0 .4em;
                min-width: 15%;

                border-right: $nav-list-dotted;
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    //アイコン
                    i.fa {
                        font-size: 2.8em;
                    }
                    span.main {
                        margin-top: .6em;
                    }
                    span.sub {
                        margin-top: .2em;
                        color: $color-text-sub;
                        font-size: .8em;
                        letter-spacing: .1em;
                    }

                    @include hover {
                        opacity: .6;
                        color: $color-accent; //デフォルトのリンクカラーを打ち消す
                    }
                }

                &:first-child {
                    border-left: $nav-list-dotted;
                }
                @each $key, $color in $header-nav-icon-color {
                    &:nth-child(#{$key}) {
                        a {
                            i.fa {
                                color: #{$color};
                            }
                        }
                    }
                }
            }
        }
    }
}
