//==============================================
// Layout/main
//============================================== 
.l-main {
    margin-bottom: $margin;
}
div.main-visual{
    img{
        border-radius: 80% 30% 50% 50%/50%;
        box-shadow: 2px 2px 4px #ccc;
    }
}

main.index {
    .copy {
        margin-top: 90px;
        padding-left: 3em;
        div.text-area{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                margin-bottom: .2em;
                .img-area {
                    position: absolute;
                    bottom: -40px;
                    left: -180px;
                    img {
                        max-width: 160px;
                    }
                }
                position: relative;
                font-size: 1.6em;
                text-align: center;
            }
            h3 {
                font-size: 1em;
                text-align: center;
                color: $color-text-sub;
            }
        }
    }
}