//==============================================
// Layout/sections
//============================================== 

.l-section {}


$list-color-kyoiku: (
        1: lighten(pink, 5%),
        2: lighten(blue, 43%),
        3: lighten(gold, 32%)
);

$list-color-sub-content: (
        #e4591e,
        #54bcc7,
        #156eb2
);

section{
    &.kyoiku {
        max-width: 800px;
        margin: 80px auto 0;
        & > ul {
            li {
                display: flex;
                margin-bottom: 5rem;
                &:nth-child(2n+1){
                    dl{
                        padding-right:0;
                    }
                }
                &:nth-child(2n){
                    dl{
                        padding-left:0;
                    }
                }
                @each $key, $color in $list-color-kyoiku {
                    &:nth-child(#{$key}) {
                        div.img-area {
                            &::after{
                                background-image: -webkit-gradient(
                                                linear, 0 0, 100% 100%,
                                                color-stop(.25, #{$color}),
                                                color-stop(.25, transparent),
                                                color-stop(.5, transparent),
                                                color-stop(.5, #{$color}),
                                                color-stop(.75, #{$color}),
                                                color-stop(.75, transparent),
                                                to(transparent)
                                );
                            }
                        }
                    }
                }

                dl {
                    padding: $padding 2em;
                    dt {
                        font-weight: bold;
                    }
                    dd {
                        margin-top: 1em;
                        margin-left: 0;
                        line-height: 1.3;
                        font-size: .9em;
                    }
                }
                div.img-area {
                    position: relative;
                    img {
                        max-width: 300px;
                        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        display: block;
                        z-index: -1;
                        bottom: -10px;
                        right: -10px;
                        width: 100%;
                        height: 200px;
                        background-size: 6px 6px;
                        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
                    }
                }
            }
        }
    }

    &.sub-content{
        padding: 4em 0;
        border-top: 5px solid $orange;
        border-bottom: 5px solid $orange;
        &>ul{
            display: flex;
            justify-content:center;
            li{
                width: 300px;
                min-width: 200px;
                margin: 0 .8em;

                transition: transform .2s ease;
                @include hover{
                    transform: rotate(-5deg);
                }
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}){
                        border-top: 5px solid nth($list-color-sub-content, $i);
                    }
                }
                a{
                    z-index: 2;
                    @include hover{
                        //color: $color-text-main;
                        color: inherit;
                    }
                    figure{
                        .img-area{
                            position: relative;
                            height: 180px;

                            @include clearfix;
                            background-color: white;
                            &>h5{
                                position: absolute;
                                top: 0;
                                left: 10px;

                                padding: 1em .7em;
                                margin: 0;

                                writing-mode: vertical-rl; //縦書き
                                background-color: white;
                                box-shadow: 2px 2px 4px $color-shadow;
                            }
                        }
                        figcaption{
                            display: flex;
                            align-items: center;
                            height: 5em;
                            padding: 0 1em;
                            background-color: white;
                            color: $color-text-sub;
                            h6{
                                font-size: .9em;
                                line-height: 1.5;
                                margin: 0;
                            }
                            div.arrow{
                                width: 3em;
                                font-size: 1.5em;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
